.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
	animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
	transform: rotate(0deg);
    }
    to {
	transform: rotate(360deg);
    }
}

.flexContainer {
    display:flex;
    flex-direction:row;
}

.textOrCode{
    flex:3;
}

.deviceEmulator{
    flex:1;
    border-left:solid;
    height:100vh;
    border-color:red;
    border-width:0px;
/**        background-image: url("data:image/svg+xml, %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='300px' height='300px' viewBox='0 0 24 30' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Crect x='0' y='13' width='4' height='5' fill='%23e2e2e2'%3E%3Canimate attributeName='height' attributeType='XML' values='5;21;5' begin='0s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='y' attributeType='XML' values='13; 5; 13' begin='0s' dur='0.6s' repeatCount='indefinite' /%3E%3C/rect%3E%3Crect x='10' y='13' width='4' height='5' fill='%23e2e2e2'%3E%3Canimate attributeName='height' attributeType='XML' values='5;21;5' begin='0.15s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='y' attributeType='XML' values='13; 5; 13' begin='0.15s' dur='0.6s' repeatCount='indefinite' /%3E%3C/rect%3E%3Crect x='20' y='13' width='4' height='5' fill='%23e2e2e2'%3E%3Canimate attributeName='height' attributeType='XML' values='5;21;5' begin='0.3s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='y' attributeType='XML' values='13; 5; 13' begin='0.3s' dur='0.6s' repeatCount='indefinite' /%3E%3C/rect%3E%3C/svg%3E%0A");
    background-repeat:no-repeat;
    background-position:center;**/
}

.iframeHolder{
    background-image: url("./waiting.svg");
    background-repeat:no-repeat;
    background-position:center;

}

.grecaptcha-badge {
    right: 40% !important;
    transform:scale(0.8);
    -webkit-transform:scale(0.8);
}
